.secondary-header {
    background-color: #30363E;
    color: white;
}

.instruction-panel {
    background-color: black;
    color: white;
    height: 100%;
}

.course-container {
    width: 100%;
    height: 100%;
}

.instructions {
    height: 100%;
    background-color: darkslategrey;
    color: white;
}

.input {
    height:50%;
}

.input-textarea {
    height: 100%;
    width: 96%;
    background-color: white;
    margin:2%;
    color: black;
    box-shadow: 0px 0px 1px #000;
}

.input-container {
     color: white;
     background-color: #EBF0F3;
}

.output-container {
     background-color: #e1e5e8; 
     color: black; 
     height:50%;
}

.output-pre {
     padding: 10px;
     background-color: #e1e5e8; 
     border: none;
}

.btn-custom {
  background-color: hsl(149, 14%, 5%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#628272", endColorstr="#0a0e0c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#628272), to(#0a0e0c));
  background-image: -moz-linear-gradient(top, #628272, #0a0e0c);
  background-image: -ms-linear-gradient(top, #628272, #0a0e0c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #628272), color-stop(100%, #0a0e0c));
  background-image: -webkit-linear-gradient(top, #628272, #0a0e0c);
  background-image: -o-linear-gradient(top, #628272, #0a0e0c);
  background-image: linear-gradient(#628272, #0a0e0c);
  border-color: #0a0e0c #0a0e0c hsl(149, 14%, -5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.66);
  -webkit-font-smoothing: antialiased;
  margin: 1%;
}

.dropdown-item-text {
    color: white;
}