<div class="header">
    {{title}}
    <a style="color:pink" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <span *ngIf="authenticationService.isLoggedIn()">{{authenticationService.getEmail()}}</span>
    <button (click)="logout()" *ngIf="authenticationService.isLoggedIn()">Logout</button>
    <button (click)="gotoLogin()" class="btn btn-primary" *ngIf="!authenticationService.isLoggedIn()">Login</button>
</div>